<template>
  <v-data-table
    :headers="headers"
    :items="people"
    sort-by="firstname"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>My CRUD</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.firstname" label="Firstname"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.lastname" label="Lastname"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>
<script>
import axios from "axios";

export default {
  data: () => ({
    dialog: false,
    headers: [
      { text: "Firstname", value: "firstname" },
      { text: "Lastname", value: "lastname" },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    people: [],
    editedIndex: -1,
    editedItem: {
      firstname: "",
      lastname: ""
    },
    defaultItem: {
      firstname: "",
      lastname: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    async editPerson(){
      const deletePerson = await this.$axios.$put("http://localhost:7000/person/"+item._id);
    },
    async deletePerson(item){
      const deletePerson = await this.$axios.$delete("http://localhost:7000/person/"+item._id);
      console.log(deletePerson)
            if(deletePerson.DeletedCount==1){
        this.people.splice(this.people.indexOf(item), 1);
      }
    },
    async savePerson(){
      const savePerson = await this.$axios.$post("http://localhost:7000/person",this.editedItem);
      console.log(savePerson)
      if(savePerson){
        this.people.push(this.editedItem);
      }
    },

    async fetchSomething() {
      const data = await this.$axios.$get("http://localhost:7000/people");
      return data;
    },
    async initialize() {
      const data = await this.fetchSomething();
      console.log(data);
      this.people = data;
    },
    async updatePerson(){
      const data = await this.$axios.$put("http://localhost:7000/person/$"+this.people[this.editedIndex]._id,this.editedItem);
      console.log(data)
      if(data){
        Object.assign(this.people[this.editedIndex], this.editedItem);
      }else{

      }
      
    },

    editItem(item) {
      this.editedIndex = this.people.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm("Are you sure you want to delete this item?") && this.deletePerson(item);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    async save() {
      if (this.editedIndex > -1) {
        this.updatePerson()
      } else {
        this.savePerson()
      }
      this.close();
    }
  }
};
</script>